/* Courses Learner */

.untree_co-section {
  padding: 100px 0;
  position: relative;
}
@media (max-width: 991.98px) {
  .untree_co-section {
    padding: 50px 0;
  }
}
.untree_co-section .heading h3 {
  font-size: 35px;
  color: #000000;
}
@media (max-width: 991.98px) {
  .untree_co-section .heading {
    font-size: 20px;
  }
}
.untree_co-section .heading strong {
  font-weight: 700;
}

.custom-media {
  background: #ffffff;
  -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
}
.custom-media h3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #000000;
}
.custom-media p {
  color: rgba(0, 0, 0, 0.4);
}
.custom-media .review {
  color: #ffc107;
}
.custom-media .custom-media-body {
  padding: 30px;
}
.custom-media .custom-media-body .price {
  font-size: 22px;
  color: #343a40;
}

/* Courses Learner End */

/* Courses Start */

.courses-area .properties {
  margin: 0 15px;
}
.courses-area .properties.properties2 {
  margin-bottom: 30px;
}
.courses-area .properties__card {
  box-shadow: 0px 6px 6px 0px rgba(2, 25, 65, 0.08);
  border-radius: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.courses-area .properties__card:hover {
  box-shadow: 0px 8px 8px 0px rgba(2, 25, 65, 0.08);
}
.courses-area .properties__img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.courses-area .properties__caption {
  padding: 29px 20px 20px 20px;
}
.courses-area .properties__caption h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .courses-area .properties__caption h3 {
    font-size: 16px;
  }
}
.courses-area .properties__caption h3 a {
  text-decoration: underline transparent;
  color: #4255a4 !important;
}
.courses-area .properties__caption h3 a:hover {
  text-decoration: underline !important;
  color: #4255a4;
}
.courses-area .properties__caption P {
  color: #6e7697;
}
.courses-area .properties__caption P span {
  color: #c86fff;
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .courses-area .properties__caption P span {
    font-size: 12px;
  }
}
.courses-area .properties__footer {
  margin-bottom: 22px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 575px) {
  .courses-area .properties__footer {
    padding: 19px 10px 20px 12px;
  }
}
.courses-area .properties__footer .restaurant-name p {
  display: inline-block;
  color: #6e7697;
}
.courses-area .properties__footer .restaurant-name p span {
  color: #ff7b2e;
  font-size: 12px;
}
.courses-area .properties__footer .price span {
  cursor: pointer;
  font-weight: 700;
  color: #4255a4;
  font-size: 23px;
}
.courses-area .properties:hover .border-btn2 {
  color: #fff;
  background: #025df0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.rating i {
  font-size: 14px;
  color: #ff7b2e;
}

.courses-actives {
  display: flex;
}
.courses-actives button.slick-arrow {
  position: absolute;
  border: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  background: none;
}
.courses-actives button.slick-arrow i {
  font-size: 20px;
  color: #c86fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.courses-actives button.slick-arrow i:hover {
  color: #4255a4;
}
.courses-actives button.slick-prev {
  left: -58px;
}
.courses-actives button.slick-prev i {
  color: #ddd;
}
.courses-actives button.slick-next {
  right: -58px;
}
.courses-actives button.slick-next i {
  color: #ddd;
}

.btn2 {
  padding: 15px 65px 20px 31px;
  text-transform: capitalize;
  border-radius: 0px;
  cursor: pointer;
  color: #ff3514;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid #ff3514;
  background: none;
}
.border-btn {
  border: 1px solid #025df0;
  color: #025df0;
  font-family: "Josefin Sans", sans-serif;
  background: none;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 8px 42px;
  -moz-user-select: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  text-align: center;
}

.single-features {
  display: flex;
}
.single-features .features-icon img {
  display: block;
}
.single-features .features-caption {
  padding-left: 19px;
}
.single-features .features-caption h3 {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 16px;
  font-weight: 400;
}
.single-features .features-caption p {
  font-size: 15px;
  line-height: 1.8;
}

@media (max-width: 575px) {
  .section-tittle {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-tittle {
    margin-bottom: 50px;
  }
}
.section-tittle h2 {
  font-size: 42px;
  display: block;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 21px;
  color: #4255a4;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-tittle h2 {
    font-size: 41px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-tittle h2 {
    font-size: 31px;
  }
}
@media (max-width: 575px) {
  .section-tittle h2 {
    font-size: 27px;
  }
}
@media (max-width: 575px) {
  .small-section-tittle {
    margin-bottom: 50px;
    text-align: left !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .small-section-tittle {
    margin-bottom: 50px;
  }
}
.small-section-tittle span {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #c86fff;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 0.05em;
}
@media (max-width: 575px) {
  .small-section-tittle span {
    font-size: 14px;
    padding-left: 0px;
    text-align: left;
  }
}

/* Courses End */
